appdata
beautifulsoup4
certifi
charset-normalizer
click
colorama
colored
customtkinter
darkdetect
docopt
idna
numpy
pandas
Pillow
pipreqs
pyperclip
pyreadline3
python-dateutil
pytube
pytz
requests
requestsexceptions
six
soupsieve
to-requirements.txt
urllib3
wcwidth
yarg
